.informationblock {
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}

.informationtext {
  padding-left: 30px;
  padding-right: 30px;
}

.application {
  display: flex;
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}

.form {
  /* background-color: white; */
  background-color: white;
  padding: 20px;
}

.result {
  /* background-color: black; */
  background-color: white;
  padding: 20px;
  margin-left: 10px;
  flex-direction: column;
}

.SentenceID {
  float:left;
  background:gray;
  margin:10px
}

.SentenceText {
  float:left;
  background:gray;
  margin:10px
}

.HighLevel {
  padding: auto;
  float: left;
}

.Condition {
  float:left;
  margin:10px;
  padding: auto;
  text-align: center;
  border-style: solid;
}

.Consequence {
  float:left;
  margin:10px;
  padding: auto;
  text-align: center;
  border-style: solid;
}

.LowLevel {
  padding: auto;
  float: left;
}

.ifStatement {
  float:left;
  margin:10px;
  padding: auto;
  text-align: center;
  border-style: solid;
}

.thenStatement {
  float:left;
  margin:10px;
  padding: auto;
  text-align: center;
  border-style: solid;
}

.elseStatement {
  float:left;
  margin:10px;
  padding: auto;
  text-align: center;
  border-style: solid;
}

.both {
  flex-direction: column;
}
