{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Javascript code -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <title>Arnaud Langeraert</title>
  <style>
  html {
    scroll-behavior: smooth;
  }
  </style>

</head>
<body>

<div id="container">
  <div class="headernav">

    <!-- Header -->
    <div class="header">
      <h1 style="color: white; margin:auto;"><a href="/" style="text-decoration: none; color: white;">Arnaud Langeraert</a></h1>
    </div>

    <!-- Navigation bar -->
    <div class="navbar">
      <a href="crypto_pp">Crypto price predictor</a>
      <a href="#">Questions/votes</a>
      <a href="/dl_extractor.html">Decision logic extractor</a>
    </div>
  </div>

  {% block content %}

  replace me

  {% endblock content %}

  {% include 'js.html' %}
  <script>
  $(document).ready(function(){
    {% block jquery %}{% endblock %}
  })
  </script>

  <!-- Footer -->
  <div class="footer">
    <a href="https://www.linkedin.com/in/arnaudlangeraert/"><img style="display: inline; margin: 0 5px;" title="Linkedin Link" src="static/images/linkedinlogo.png" alt="" width="20" height="20" /></a>
  </div>
</div>

  </body>

</html>
